<div id="<%= dom_id screen %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Screen no:</strong>
    <%= screen.screen_no %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seats:</strong>
    <%= screen.seats %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= screen.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Theater:</strong>
    <%= screen.theater.name %>
  </p>

</div>
