<%= form_with(model: [:admin, @screen], class: "contents") do |form| %>
  <% if screen.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(screen.errors.count, "error") %> prohibited this screen from being saved:</h2>

      <ul>
        <% screen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :screen_no %>
    <%= form.number_field :screen_no, class: "remove-arrow block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.collection_select :status, [["Idle", "idle"], ["In Maintenance", "in_maintenance"], ["Unavailable", "unavailable"]], :last, :first, {}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.hidden_field :theater_id, value: @theater.id %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
