<div class="w-full px-6">
  <h1 class="mb-3 text-3xl font-medium">Welcome to the Theater Dashboard, <%= current_user.name %></h1>

  <div class="flex justify-between mt-10 items-center">
    <h1 class="font-bold text-4xl">Screens</h1> 
    <%= link_to "Add New Screen", new_admin_screen_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium hover:bg-blue-700 hover:scale-105 transform transition" %>
  </div> 

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    <% @screens.each do |screen| %>
      <div class="flex justify-center">
        <%= link_to admin_screen_path(screen), class: "w-full h-28 flex items-center justify-center rounded-lg bg-indigo-300 hover:bg-indigo-400 text-black font-medium text-center transition transform hover:scale-105" do %>
          <span class="text-2xl"><%= screen.screen_no %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <h1 class="font-bold text-3xl mt-10 mb-3">All Theater Shows</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
    <% @shows.each do |show| %>
      <div class="my-5">
        <%= image_tag url_for(show.poster.variant(:display)), class: "rounded-lg" if show.poster.attached? %>
        <h1 class="text-2xl my-4 font-semibold"><%= show.name %></h1>
      </div>
    <% end %>
  </div>

  <h1 class="mt-24 text-3xl font-bold">Total Bookings of Shows by Screen for Current Week</h1>
  <div class="my-6">
    <%= bar_chart @current_week_bookings_by_screen, xtitle:"Bookings of shows for current week", ytitle: "Screen No", download: true %>
  </div>

  <h1 class="text-3xl font-bold mt-10">Total Bookings in General by Week</h1>
  <div class="my-6">
    <%= line_chart @bookings_by_week, xtitle:"Current Week", ytitle: "Bookings", download: true %>
  </div>
  
  <h1 class="text-3xl font-bold mt-10">Total Bookings in General by Month</h1>
  <div class="my-6">
    <%= line_chart @bookings_by_month, xtitle:"Current Month", ytitle: "Bookings", download: true  %>
  </div>

  <h1 class="text-3xl font-bold mt-10">Most Popular Show Based on Booking</h1>
  <div class="my-6">
    <%= pie_chart @popular_shows, download: true %>
  </div>

  <h1 class="font-bold text-3xl mt-10">Feedbacks</h1>
  <ul class="list-disc list-inside mt-4 space-y-2">
    <% @feedbacks.each do |f| %>
      <li class="text-xl"><%= f.comment %><span class="text-gray-600"> - by <%= f.user.name %></span></li>
    <% end %>
  </ul>
</div>
