<% content_for :title, "Home" %>

<div class="w-full">
  <div class="flex justify-between mt-10 items-center">
    <h1 class="font-semibold text-3xl">Manage Screens</h1>
    <%= link_to "Add New Screen", new_admin_screen_path, class: "btn-blue" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    <% if @screens.exists? %>
      <% @screens.each do |screen| %>
        <div class="flex justify-center">
          <%= link_to admin_screen_path(screen), class: "w-full h-28 flex items-center justify-between px-4 rounded-lg bg-indigo-300 hover:bg-indigo-400 text-black font-medium text-center transition transform hover:scale-105" do %>
            <span class="text-2xl mx-auto"><%= screen.screen_name %></span>
            <span class="bg-gray-100 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded-full">
              <%= screen.status %>
            </span>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No screens</p>
    <% end %>
  </div>

  <h1 class="font-semibold text-3xl mt-20 mb-3">All Theater Shows</h1>

  <% if @screen_shows.exists? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
      <% @show_screening_details.each do |details| %>
        <% show = details[:show] %>
        <div class="my-5">
          <%= display_show_poster(show) %>
          <h1 class="text-2xl my-4 font-semibold"><%= show.name %></h1>
          <% details[:screenings].each do |screening| %>
            <p class="text-xl">Screen: <%= screening.screen.screen_name %> - Price: ₹<%= screening.price %></p>
            <p class="text-xl">language: <%= screening.language.humanize %></p>
            <p class="text-xl mb-3"><%= screening.start_date.strftime("%d %B") %> - <%= screening.end_date.strftime("%d %B") %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No shows scheduled or Running currently</p>
  <% end %>

  <h1 class="mt-24 text-3xl font-bold">Total Bookings of Shows by Screen for Current Week</h1>
  <div class="my-6">
    <% @bar_library_options = { scales: { x: { beginAtZero: true, ticks: { stepSize: 1 } } } } %>

    <%= bar_chart @current_week_bookings_by_screen, xtitle: "Bookings of shows for current week", ytitle: "Screen Name/No.", download: true, library: @bar_library_options %>
  </div>

  <div class="flex justify-between mt-20">
    <h1 class="text-3xl font-bold mt-10">Total Bookings in General</h1>
    <div class="mt-6">
      <select id="time_period" class="rounded-lg mt-5 text-xl cursor-pointer" onchange="selectTimePeriod(this)">
        <option value="week">By Week</option>
        <option value="month">By Month</option>
      </select>
    </div>
  </div>

  <% @line_library_options = { scales: { y: { beginAtZero: true, ticks: { stepSize: 1 } } } } %>

  <div id="week_chart" class="my-6">
    <%= line_chart @bookings_by_week, xtitle: "Current Week", ytitle: "Bookings", download: true, library: @line_library_options %>
  </div>

  <div id="month_chart" class="my-6" style="display: none;">
    <%= line_chart @bookings_by_month, xtitle: "Current Month", ytitle: "Bookings", download: true, library: @line_library_options %>
  </div>

  <h1 class="text-3xl font-bold mt-32">Most Popular Show Based on Booking</h1>
  <div class="my-6">
    <%= pie_chart @popular_shows, download: true %>
  </div>

  <%= turbo_frame_tag "theater_feedbacks" do %>
    <h1 class="font-bold text-3xl mt-32">Feedbacks</h1>
    <ul class="list-disc list-inside mt-4 space-y-2 mb-40">
      <% @feedbacks.each do |f| %>
        <li class="text-xl"><%= f.comment %><span class="text-gray-600"> - by <%= f.user.name %></span></li>
        <%= render(PaginationComponent.new(pagy: @pagy_feedbacks)) %>
      <% end %>
    </ul>
  <% end %>

  <%= render(LogsComponent.new(logs: @theater_logs, title: "theater", pagy: @pagy_audits)) %>
</div>
