<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @screen %>

    <%= link_to "Edit this screen's details", edit_admin_screen_path(@screen), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to Theater Portal", admin_root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this screen", @admin_screen, method: :delete, data: { turbo_confirm: "All screenings assigned to this screen will also be removed." }, class: "mt-2 rounded-lg py-3 px-5 bg-red-600 text-white font-medium" %>
    </div>

    <h1 class="mt-14"><%= link_to "Manage Assigned Shows", admin_screen_screenings_path(@screen, @screening), class: "mt-5 text-3xl rounded-lg bg-zinc-200 text-center py-10 px-5 inline-block font-medium w-full" %></h1>
  </div>
</div>
