<% content_for :title, @screen.screen_name %>

<div class="mx-auto w-full flex flex-col md:flex-row gap-x-16">
  <div>
    <%= render @screen %>

    <%= link_to "Edit this screen's details", edit_admin_screen_path(@screen), class: "mt-2 ml-2 btn-gray" %>
    <%= link_to "Back to Theater Portal", admin_root_path, class: "ml-2 btn-gray" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this screen", @admin_screen, method: :delete, data: { turbo_confirm: "All screenings assigned to this screen will also be removed." }, class: "mt-5 btn-red" %>
    </div>

    <h1 class="my-14"><%= link_to "Add/Manage Shows for this screen", admin_screen_screenings_path(@screen, @screening), class: "mt-5 text-2xl rounded-lg bg-gray-200 text-center py-10 px-5 inline-block font-medium w-full" %></h1>
  </div>

  <div class="mb-10">
    <strong class="block font-medium text-2xl mt-5 mb-2">Shows running or scheduled: </strong>

    <% if @screen_screenings.present? %>
      <% @screen_screenings.each do |ss| %>
        <li class="ml-5 text-2xl"><%= ss.show.name %> - <%= ss.language.humanize %></li>
      <% end %>
    <% else %>
      <p>No shows scheduled or Running currently</p>
    <% end %>
  </div>
</div>

<%= render(LogsComponent.new(logs: @screen_logs, title: "screen", pagy: @pagy)) %>