<h1>Book My Show Theater Portal</h1>

<h2>Hi,</h2>

<p>New event request for <%= link_to @event_request.theater.name.humanize, Rails.application.credentials.dig(:development, :host_url) + Rails.application.routes.url_helpers.theater_path(@event_request.theater.slug), target: "_blank" %></p>

<p>Requested By Contact No: <span><%= mail_to @event_request.user.email, @event_request.user.email %></span></p>

<p>We already verified all permits and permissions for the event/show</p>

<p>You can now add to your theater from admin panel, <%= link_to "HERE", Rails.application.credentials.dig(:development, :host_url) + Rails.application.routes.url_helpers.admin_root_path, target: "_blank" %></p>

<p>Requested Show/Event will be available to choose when creating new show for a screen</p>

<hr>

<h2 style="text-decoration: underline;">Event/Show Details</h2>

<p>Name: <span><%= @event_request.name.humanize %></span></p>
<p>About the show: <span><%= @event_request.description %></span></p>
<p>Cast or Participants: <span><%= @event_request.cast %></span></p>
<p>language: <span><%= @event_request.languages.join(", ") %></span></p>
<p>Genre: <span><%= @event_request.genres.join(", ") %></span></p>
<p>Duration: <span><%= formatted_duration(@event_request.duration) %></span></p>
<p>category of the evnet/show: <span><%= @event_request.category.humanize %></span></p>
<p>Set Show for date period of <span><%= format_date(@event_request.release_date) %> - <%= format_date(@event_request.end_date) %></span></p>
<p>Set at time of: <span><%= format_time(@event_request.at_timeof) %></span></p>