<header class="container mx-auto flex w-full items-center justify-between px-5 py-5 sm:px-6 lg:px-8">
  <div class="flex items-center">
    <%= link_to "#{@theater.name} | Theater Portal", admin_root_path, class: "text-3xl font-bold tracking-tight" %>
  </div>
  <div class="flex gap-x-8 items-center">
    <% if current_user.theaters.count > 1 %>
      <%= form_with url: admin_switch_theater_path, method: :post, local: true do %>
        <%= label_tag :theater_id, "Change Theater", class: "text-xl" %>
        <%= select_tag :theater_id, options_from_collection_for_select(current_user.theaters, :id, :name, session[:current_theater]), onchange: "this.form.requestSubmit();" %>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <h1 class="text-xl flex items-center">Logged in as, <%= current_user&.email %><%= image_tag "icons/outline/profile.webp", height: "30", width: "35" %></h1>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "rounded-lg py-3 px-5 bg-red-600 text-white font-medium" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "rounded-lg py-3 px-5 bg-green-500 text-white font-medium" %>
    <% end %>
  </div>
</header>
<hr>