<%= form_with(model: [screening, booking], class: "contents") do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="my-5" data-controller="counter">
    <%= f.label :ticket, "Tickets quantity (you can buy maximum upto 10 tickets)", class: "block text-gray-700 font-medium mb-2" %>
    <div class="flex items-center text-2xl">
      <%= content_tag(:button, "-", type: "button", class: "bg-gray-200 text-black px-4 py-2 border border-r-0 border-gray-300 rounded-l-md  hover:bg-gray-300", data: { action: "click->counter#decrement" }) %>
      
      <%= f.text_field :ticket, readonly: true, class: "block text-center text-2xl w-16 shadow-sm border-t border-l-0 border-b border-gray-300 outline-none px-3 py-2", data: { counter_target: "ticket" } %>

      <%= content_tag(:button, "+", type: "button", class: "bg-gray-200 text-black px-4 py-2 border border-l-0 border-gray-300 rounded-r-md hover:bg-gray-300", data: { action: "click->counter#increment" }) %>
    </div>
  </div>

  <div class="my-5">
    <%= f.label :show_time_id, "Select show time:" %>
    <%= f.collection_radio_buttons :show_time_id, @screening.show_times.order(at_timeof: :asc).select { |s| s.at_timeof > Time.current && s.seats > 0 }, :id, :formatted_time, {}, class: "cursor-pointer mt-1 py-2.5 px-2.5" do |b| %>
      <% b.label(class: "flex gap-x-2 text-2xl my-3") { b.radio_button + b.text } %>
    <% end %>
  </div>

  <div class="inline">
    <%= f.submit data: { turbo_submits_with: "Saving..." }, class: "btn-blue inline-block" %>
  </div>
<% end %>
