<%= form_with url: theater_inquiry_path, method: :post, local: true, class: "contents" do |form| %>
  <div class="my-5">
    <%= form.label :user_name, "Your Name" %>
    <%= form.text_field :user_name, value: params[:user_name], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :user_email, "Email (we will conatct you on this email)" %>
    <%= form.email_field :user_email, value: params[:user_email], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :phone_no, "Phone no (Should only be 10 digit)" %>
    <%= form.number_field :phone_no, value: params[:phone_no], placeholder: "e.g. 9876543210", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :theater_name %>
    <%= form.text_field :theater_name, value: params[:theater_name], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :theater_details %>
    <%= form.text_area :theater_details, rows: 4, value: params[:theater_details], class: "resize-none block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Submit details", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
