<% content_for :title, "Profile" %>

<h1 class="font-semibold text-2xl">Hi, <%= current_user&.name %></h1>

<h1 class="mt-10 text-3xl font-semibold underline">Booking History:</h1>

<div class="my-6">
  <h1 class="text-2xl mt-10">Upcoming bookings:</h1>

  <% if @upcoming_bookings.exists? %>
    <div class="text-2xl my-3">
      <% @upcoming_bookings.each do |b| %>
        <li class="my-5">
          <%= pluralize(b.ticket, "ticket") %> of <span class="font-medium"><%= b.screening.show.name %> - <%= b.screening.language.humanize %></span>, <%= b.screening.screen.theater.name %> on <%= format_datetime(b.show_time.at_timeof) %>
          <%= button_to "Cancel Booking", cancel_booking_screening_booking_path(b.screening, b), method: :patch, data: { turbo_confirm: "Are you sure?" }, class: "mt-2 ml-8 rounded-lg py-3 px-5 bg-zinc-100 text-sm" %>
        </li>
      <% end %>
    </div>
  <% else %>
    <h1>You don't have any bookings scheduled yet</h1>
  <% end %>

  <h1 class="text-2xl mt-10">Past bookings:</h1>

  <% if @past_bookings.exists? %>
    <div class="text-2xl my-3">
      <% @past_bookings.each do |b| %>
        <li><%= pluralize(b.ticket, "ticket") %> of <span class="font-medium"></span><span class="font-medium"><%= b.screening.show.name %> - <%= b.screening.language.humanize %></span>, <%= b.screening.screen.theater.name %> on  <%= format_datetime(b.show_time.at_timeof) %></li>
      <% end %>
    </div>
  <% else %>
    <h1>You don't have any history of bookings</h1>
  <% end %>

  <% if @cancelled_bookings.exists? %>
    <h1 class="text-2xl mt-10 underline">Cancelled bookings:</h1>
    <div class="text-2xl my-3">
      <% @cancelled_bookings.each do |b| %>
        <li><%= pluralize(b.ticket, "ticket") %> of <span class="font-medium"><%= b.screening.show.name %> - <%= b.screening.language.humanize %></span>, <%= b.screening.screen.theater.name %> on  <%= format_datetime(b.show_time.at_timeof) %></li>
      <% end %>
    </div>
  <% end %>
</div>
