<% content_for :title, "Home" %>

<div class="w-full">
  <div class="flex justify-between mb-10 gap-x-5" data-turbo="false">
    <a href="/shows/jhamkudi"><%= image_tag "jhamkudi-banner.jpeg", height: "450", width: "700", class: "rounded-xl" %></a>
    <a href="/shows/mr-mrs-mahi"><%= image_tag "mr-and-mrs-mahi-banner.jpeg", height: "450", width: "700", class: "rounded-xl" %></a>
  </div>

  <div class="flex justify-between">
    <h1 class="mt-2 mb-5 text-3xl font-semibold">Recommended Shows</h1>
    <p><%= link_to 'See All ›', shows_path, class: "ml-2 py-3 px-5 inline-block font-normal text-xl" %></p>
  </div>

  <% if @recommended_shows.present? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
      <% @recommended_shows.each do |show| %>
        <a href="<%= show_path(show) %>">
          <%= display_show_poster(show, hover: true) %>
          <h1 class="text-2xl my-4 font-semibold"><%= show.name %></h1>
        </a>
      <% end %>
    </div>
  <% else %>
    <h1 class="text-xl mb-10">No shows are currently running in theaters</h1>
  <% end %>

  <% @shows_by_language.each do |language, shows| %>
    <h1 class="font-bold text-3xl my-5 underline">In <%= language.capitalize %></h1>

    <% if shows.present? %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
        <% shows.each do |show| %>
          <a href="<%= show_path(show) %>">
            <%= display_show_poster(show, hover: true) %>
            <h1 class="text-2xl my-4 font-semibold"><%= show.name %></h1>
          </a>
        <% end %>
      </div>
    <% else %>
      <h1 class="text-xl mb-10">No <%= language %> shows currently running in theaters</h1>
    <% end %>
  <% end %>

  <h1 class="font-bold text-3xl my-5 underline">In Sports/Plays/Events</h1>

  <% if @except_movies.present? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
      <% @except_movies.each do |show| %>
        <a href="<%= show_path(show) %>">
          <%= display_show_poster(show, hover: true) %>
          <h1 class="text-2xl my-4 font-semibold"><%= show.name %></h1>
        </a>
      <% end %>
    </div>
  <% else %>
    <h1 class="text-xl mb-10">currently there are not these type of shows currently running in theaters</h1>
  <% end %>
</div>
