<h1>Book My Show</h1>

<p>Hi <%= @booking.user.name %>, </p>

<p>You have booked <span><%= pluralize(@booking.ticket, "ticket") %></span> of <span><%= @booking.screening.show.name %></span> at <span><%= @booking.screening.screen.theater.name %></span></p>

<p>Show/Movie Time: <span><%= @booking.show_timing.at_timeof.strftime("%I:%M %p") %></span></p>

<p>Date: <span><%= @booking.booking_date.strftime("%d %B, %Y %A") %></span></p>

<p>You have been charged total of <span>₹ <%= @booking.ticket * @booking.screening.price %></span>.</p>

<p>If any query then, drop us a reply mail</p>