<div id="<%= dom_id show %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= show.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= show.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Poster:</strong>
    <%= image_tag url_for(show.poster.variant(:display)) if show.poster.attached? %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cast:</strong>
    <%= show.cast %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Language:</strong>
    <%= show.language %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Genre:</strong>
    <%= show.genre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= show.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Imdb rating:</strong>
    ⭐ <%= show.imdb_rating %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= formatted_duration(show.duration) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Release date:</strong>
    <%= show.release_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    ₹ <%= show.screen_shows.first.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Show start date for this screen:</strong>
    <%= show.screen_shows.first.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Show end date for this screen:</strong>
    <%= show.screen_shows.first.end_date %>
  </p>

</div>
