<h1>Book My Show Theater Portal</h1>

<h2>Hi Superadmin, </h2>

<p>New theater admin request</p>

<p>Customer name: <span><%= @admin_details[:user_name] %></span></p>
<p>Customer Email: <span><%= @admin_details[:user_email] %></span></p>
<p>Contact No: <span><%= @admin_details[:phone_no] %></span></p>
<p>Theater Name: <span><%= @admin_details[:theater_name] %></span></p>
<p>Theater Details: <span><%= @admin_details[:theater_details] %></span></p>

<h2>Instructions you have to follow</h2>

<p>Contact user on above email.</p>

<p>Verify all the details with Valid Documents Proofs about theater and user/users</p>

<p>Then Create new user/users on admin panel with discussed email ids</p>

<p>Then in the Theater Admin panel assign that user/users to provided theater</p>

<p>And Mail Password Reset instructions to newly becomed Admin to sign to their theater portal</p>
