<%= form_with(model: [theater, event_request], class: "contents") do |form| %>
  <% if event_request.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(event_request.errors.count, "error") %> prohibited this event_request from being saved:</h2>

      <ul>
        <% event_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, 'Name of the Event/Show' %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description, 'Description (Tell us about Event/Show details)' %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full resize-none" %>
  </div>

  <div data-controller="image-preview" class="my-5">
    <%= form.label :poster %>
    <%= form.hidden_field :poster, value: form.object.poster.signed_id if form.object.poster.attached? %>
    <%= form.file_field :poster, direct_upload: true, accept: 'image/jpeg, image/jpg, image/png', data: { image_preview_target: "source", action: "image-preview#show" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <%= image_tag '', data: { image_preview_target: 'canvas' }, class: 'object-cover size-48', hidden: true %>
    <%= tag.p '', data: { image_preview_target: 'fileName' }, class: 'mt-2 text-gray-700', hidden: true %>
  </div>

  <div class="my-5">
    <%= form.label :cast, 'Cast (add comma between entries)' %>
    <%= form.text_field :cast, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex w-full my-5 gap-x-10">
    <div class="w-1/2">
      <%= form.label :languages %>
      <%= form.collection_select :languages, Show.languages.keys.map { |lang| [lang.humanize, lang] }, :last, :first, { multiple: true }, data: { controller: 'slim-select' }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="w-1/2">
      <%= form.label :genres %>
      <%= form.collection_select :genres, Show.genres.keys.map { |lang| [lang.humanize, lang] }, :last, :first, { multiple: true }, data: { controller: 'slim-select' }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :category %>
    <%= form.select :category, Show.categories.keys.map { |lang| [lang.humanize, lang] }, { include_blank: "Select Event Category" }, data: { controller: 'slim-select' }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex w-full my-5 gap-x-10">
    <div class="w-1/2">
      <%= form.label :duration, 'Duration of Event/Show (in Minutes)' %>
      <%= form.number_field :duration, class: "remove-arrow block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="w-1/2">
      <%= form.label :at_timeof, 'Show time(12 hour format)' %>
      <%= form.time_field :at_timeof, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex w-full my-5 gap-x-10">
    <div class="w-1/3">
      <%= form.label :release_date %>
      <%= form.date_field :release_date, min: Date.current, max: 3.months.from_now, class: "datepicker block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="w-1/3">
      <%= form.label :end_date %>
      <%= form.date_field :end_date, min: Date.current, max: 3.months.from_now, class: "datepicker block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div>
    <p>Note: All Valid Permits with proof for hosting Event/Show must be represented in One Single PDF with maximum size upto 10 MB</p>
  </div>

  <div data-controller="file-upload" class="my-5">
    <%= form.label :permit %>
    <%= form.hidden_field :permit, value: form.object.permit.signed_id if form.object.permit.attached? %>
    <%= form.file_field :permit, direct_upload: true, accept: 'application/pdf', data: { file_upload_target: "source", action: "file-upload#show" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <%= tag.iframe '', data: { file_upload_target: 'pdfPreview' }, class: 'w-full h-64 mt-2 border', hidden: true %>
    <%= tag.p '', data: { file_upload_target: 'fileName' }, class: 'mt-2 text-gray-700', hidden: true %>
  </div>

  <div class="inline">
    <%= form.submit data: { turbo_submits_with: "Creating..." }, class: "btn-blue" %>
  </div>
<% end %>
