<div id="<%= dom_id feedback %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= feedback.comment %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type of:</strong>
    <%= feedback.type_of %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= feedback.user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Commentable:</strong>
    <%= feedback.commentable.name %>
  </p>

</div>
