<%= form_for [commentable, feedback] do |f| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: 4, class: "block shadow rounded-md border resize-none border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-4">
    <%= f.label :rating, "Give Rating â­" %>
    <%= f.number_field :rating, step: :any, in: 1.0..10.0, placeholder: "e.g. 8.7", class: "remove-arrow block shadow rounded-md border resize-none border-gray-400 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="inline">
    <%= f.submit "Write a Responce", data: { turbo_submits_with: "Saving..." }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
