<div id="<%= dom_id show %>">
  <div class="flex gap-x-16 bg-slate-100 p-16 rounded-lg">
    <%= display_show_poster(show) %>
    <div class="my-auto">
      <h1 class="font-bold text-4xl"><%= show.name.humanize %></h1>

      <% unless show.average_rating == 0 %>
        <%= render "feedbacks/star", feedbackable: show %>
      <% else %>
        <p class="mt-6 text-xl flex items-center gap-2">Not rated yet</span></p>
    <% end %>

    <p class="my-3 text-lg"><%= show.languages.map { |genre| genre.humanize }.join(", ") %></p>

    <p class="mb-7 text-xl"><%= formatted_duration(show.duration) %> • <%= show.genres.map { |genre| genre.humanize }.join(", ") %> • <%= format_date(show.release_date) %></p>

    <% if show.available_screenings.exists? %>
      <%= link_to "Book tickets", show_book_now_path(show), class: "btn-blue" %>
    <% else %>
      <%= button_to "Booking Unavailable", {}, disabled: true, class: "btn-gray-disabled" %>
    <% end %>

  </div>

</div>

<aside class="flex gap-x-40">
  <div>
    <h1 class="font-semibold mt-10 mb-2 text-2xl">About the <%= show.category.humanize %>:</h1>
    <p class="prose prose-slate"><%= show.description %></p>
  </div>
  <div>
    <h1 class="font-semibold mt-10 text-2xl">Cast:</h1>
    <p class="text-xl"><%= show.cast %></p>
  </div>
</aside>

</div>
