<div id="<%= dom_id show %>">
  
  <div class="flex gap-x-16 bg-slate-100 p-16 rounded-lg">
    <%= image_tag url_for(show.poster),class: "rounded-lg" if show.poster.attached? %>
    <div class="my-auto">
      <h1 class="font-bold text-4xl"><%= show.name.capitalize %></h1>
      <p class="text-xl mt-4"><%= show.description %></p>

      <p class="mt-6 flex items-center gap-2">⭐ <span class="text-xl"><%= show.imdb_rating %>/10</span></p>
      <p class="my-3 text-lg"><%= show.language.capitalize %></p>

      <p class="mb-7 text-xl"><%= formatted_duration(show.duration) %> • <%= show.genre.capitalize %> • <%= format_date(show.release_date) %></p>

      <%#= link_to "Book tickets", new_show_booking_path(show), class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium hover:bg-blue-700 hover:scale-105 transform transition" %>
    </div>

  </div>

  <h1 class="font-semibold mt-10 text-2xl">Cast:</h1>
  <p class="text-xl"><%= show.cast %></p>
</div>
