<% content_for :title, "Shows" %>

<section class="flex justify-between mb-10">
  <h1 class="text-3xl font-semibold underline">Browse all</h1>
  <div class="flex items-center gap-x-2">
    <span class="text-md">Filter By</span>

    <%= search_form_for @q, url: shows_path, method: :get, class: "contents" do |f| %>
      <%= f.select :languages_array_contains, Show.pluck(:languages).flatten.uniq, { include_blank: "Select Language" }, { onchange: "this.form.requestSubmit()" } %>
      <%= f.select :genres_array_contains, Show.pluck(:genres).flatten.uniq, { include_blank: "Select Genre" }, { onchange: "this.form.requestSubmit()" } %>
      <%= f.select :category_eq, Show.categories, { include_blank: "Select Show Type" }, { onchange: "this.form.requestSubmit()" } %>
      <div class="flex items-center ml-2 gap-x-2">
        <%= check_box_tag :booking_available, '1', params[:booking_available] == '1', onchange: "this.form.requestSubmit()", class: "h-6 w-6 cursor-pointer rounded-md" %>
        <%= label_tag :booking_available, "Bookings available", class: "cursor-pointer text-xl" %>
      </div>

      <%= link_to "Clear Filter", request.path, class: "ml-5 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <% end %>

  </div>
</section>

<%= render(ShowListComponent.new(shows: @all_shows)) %>

<%= render(PaginationComponent.new(pagy: @pagy)) %>
