<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Shows" %>

<h1 class="font-bold text-4xl mb-10">All Shows</h1>

<h1 class="font-bold text-3xl my-5 underline">Movies</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
  <% @movies.each do |show| %>
    <a href="<%= show_path(show) %>">
      <%= image_tag url_for(show.poster.variant(:display)), class: "rounded-lg hover:scale-105 cursor-pointer transition" if show.poster.attached? %>
      <h1 class="text-2xl my-4 font-semibold"><%= show.name %></h1>
    </a>
  <% end %>
</div>

<h1 class="font-bold text-3xl my-5 underline">Plays</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
  <% @plays.each do |show| %>
    <a href="<%= show_path(show) %>">
      <%= image_tag url_for(show.poster.variant(:display)), class: "rounded-lg hover:scale-105 cursor-pointer transition" if show.poster.attached? %>
      <h1 class="text-2xl my-4 font-semibold"><%= show.name %></h1>
    </a>
  <% end %>
</div>

<h1 class="font-bold text-3xl my-5 underline">Sports</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
  <% @sports.each do |show| %>
    <a href="<%= show_path(show) %>">
      <%= image_tag url_for(show.poster.variant(:display)), class: "rounded-lg hover:scale-105 cursor-pointer transition" if show.poster.attached? %>
      <h1 class="text-2xl my-4 font-semibold"><%= show.name %></h1>
    </a>
  <% end %>
</div>

<h1 class="font-bold text-3xl my-5 underline">Events</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
  <% @events.each do |show| %>
    <a href="<%= show_path(show) %>">
      <%= image_tag url_for(show.poster.variant(:display)), class: "rounded-lg hover:scale-105 cursor-pointer transition" if show.poster.attached? %>
      <h1 class="text-2xl my-4 font-semibold"><%= show.name %></h1>
    </a>
  <% end %>
</div>
