<% content_for :title, @show.name %>

<div class="w-full">
  <%= render @show %>

  <%= render "feedbacks/count", count: @reviews_count %>

  <div id="feedback_form">
    <% if current_user.present? %>
      <% if @user_has_booked %>
        <% unless @user_has_feedback %>
          <%= render "feedbacks/form", feedbackable: @show, feedback: @feedback %>
        <% end %>
      <% else %>
        <% unless @user_has_feedback %>
          <p class="p-6 bg-slate-50 rounded-xl my-6">
            You needs to have booked this show before you can leave a review here.
          </p>
        <% end %>
      <% end %>
    <% else %>
      <p class="p-6 bg-slate-50 rounded-xl my-6">
        You are requested to <a href="<%= new_user_session_path %>" class="text-blue-600 underline">log in</a> to give a review.
      </p>
    <% end %>
  </div>

  <%= turbo_stream_from [@show, :feedbacks] %>
  <%= turbo_frame_tag dom_id(@show, :feedbacks) do %>
    <% if @show_feedbacks.exists? %>
      <%= render partial: "feedbacks/feedback", collection: @show_feedbacks, locals: { feedbackable: @show } %>
    <% else %>
      <h1 id="kill" class="p-6 bg-slate-50 rounded-xl my-6">No reviews yet</h1>
    <% end %>

    <%= render(PaginationComponent.new(pagy: @pagy)) %>
  <% end %>

  <%= link_to "Back to shows", shows_path, class: "mt-5 btn-gray inline-block" %>
</div>
