<div id="<%= dom_id theater %>">
  <h1 class="font-semibold text-3xl"><%= theater.name %></h1>

  <p class="ml-1 text-2xl mt-2"><%= theater.address %></p>
  <p class="ml-1 text-xl my-2"><%= theater.city.name %>, <%= theater.city.state %></p>

  <% unless theater.average_rating == 0 %>
    <p class="mt-6 text-xl flex items-center gap-2">Average Ratings: ⭐ <span class="text-xl"><%= theater.average_rating %>/10</span></p>
  <% else %>
    <p class="mt-6 text-xl flex items-center gap-2">Ratings ⭐: Not rated yet</span></p>
  <% end %>
</div>
