<div id="<%= dom_id theater %>">
  <h1 class="font-semibold text-3xl"><%= theater.name %></h1>

  <p class="ml-1 text-2xl mt-2"><%= theater.address %></p>
  <p class="ml-1 text-xl my-2"><%= theater.city.name %>, <%= theater.city.state %></p>
</div>
