<% content_for :title, @theater.name %>

<div class="w-full">
  <%= render @theater %>

  <h1 class="text-2xl font-semibold mt-10">All shows for theater:</h1>

  <% if @theater_shows.exists? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
      <% @show_screening_details.each do |details| %>
        <% show = details[:show] %>
        <% details[:screenings].each do |screening| %>
          <a href="<%= new_screening_booking_path(screening) %>">
            <div class="my-5">
              <%= display_show_poster(show) %>
              <h1 class="text-2xl my-4 font-semibold"><%= show.name.capitalize %> - ₹ <%= screening.price %></h1>
              <p class="text-xl">On Screen: <%= screening.screen.screen_name %></p>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h1 class="text-xl">No shows currently running in this theater</h1>
  <% end %>

  <h1 class="text-2xl my-10">List your show/event for this theater <%= link_to "here", event_request_theater_path, class: "underline text-blue-500" %></h1>
  
  <h2 class="text-2xl font-semibold mt-10">
    <%= turbo_frame_tag "count" do %>
      <%= pluralize(@feedbacks_count, "Feedback") %>
    <% end %>
  </h2>

  <div id="feedback_form">
    <% if @user_has_booked_in_theater %>
      <% unless @user_has_feedback %>
        <%= render "feedbacks/form", commentable: @theater, feedback: @feedback %>
      <% end %>
    <% else %>
      <% unless @user_has_feedback %>
        <p class="p-6 bg-slate-50 rounded-xl my-6">
          You needs to have booked a show in this theater before you can leave a feedback here.
        </p>
      <% end %>
    <% end %>
  </div>
  
  <% if @theater_feedbacks.present? %>
    <%= render partial: "feedbacks/feedback", collection: @theater_feedbacks, locals: { commentable: @theater } %>
  <% else %>
    <h1 class="p-6 bg-slate-50 rounded-xl my-6">No feedbacks yet</h1>
  <% end %>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

  <%= link_to "Back to theaters", theaters_path, class: "mt-5 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
