<div class="w-full">
  <%= render @theater %>

  <h1 class="text-2xl font-semibold mt-10">All shows for theater:</h1>

  <% if @theater_shows.exists? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
      <% @theater_shows.each do |show| %>
        <a href="<%= new_screening_booking_path(show.screenings.joins(:screen).find_by(screens: { theater_id: @theater })) %>">
        <div class="my-5">
         <%= image_tag url_for(show.poster.variant(:display)), class: "rounded-lg" if show.poster.attached? %>
          <h1 class="text-2xl my-4 font-semibold"><%= show.name.capitalize %> - ₹ <%= show.screenings.joins(:screen).find_by(screens: { theater_id: @theater }).price %></h1>
        </div>
        </a>
      <% end %>
    </div>
  <% else %>
    <h1 class="text-xl">No shows currently running in this theater</h1>
  <% end %>
  
  <h2 class="text-2xl font-semibold mt-10">
    <%= turbo_frame_tag "count" do %>
      <%= pluralize(@theater.feedbacks.count, "Feedback") %>
    <% end %>
  </h2>

  <div id="feedback_form">
    <% if @user_has_booked_in_theater %>
      <% unless @user_has_feedback %>
        <%= render "feedbacks/form", commentable: @theater, feedback: @feedback %>
      <% end %>
    <% else %>
      <% unless @user_has_feedback %>
        <p class="p-6 bg-slate-50 rounded-xl my-6">
          You needs to have booked a show in this theater before you can leave a feedback here.
        </p>
      <% end %>
    <% end %>
  </div>
  
  <% if @theater_feedbacks.present? %>
    <%= render partial: "feedbacks/feedback", collection: @theater_feedbacks, locals: { commentable: @theater } %>
  <% else %>
    <h1 class="p-6 bg-slate-50 rounded-xl my-6">No feedbacks yet</h1>
  <% end %>

  <%= link_to "Back to theaters", theaters_path, class: "mt-5 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
