<div class="w-full">
  <%= render @theater %>

  <h1 class="text-2xl font-semibold mt-10">All shows for theater:</h1>

  <% if @theater.shows.exists? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
      <% @theater.shows.each do |show| %>
        <div class="my-5">
         <%= image_tag url_for(show.poster.variant(:display)), class: "rounded-lg" if show.poster.attached? %>
          <h1 class="text-2xl my-4 font-semibold"><%= show.name.capitalize %> - Screen <%= show.screens.first.screen_no %></h1>
        </div>
      <% end %>
    </div>
  <% else %>
    <h1 class="text-xl">No shows currently running in this theater</h1>
  <% end %>
    

  <h2 class="text-2xl font-semibold mt-10">
      <%= pluralize(@theater.feedbacks.count, "Feedback") %>
  </h2>

  <%= render "feedbacks/form", commentable: @theater, feedback: @feedback %>

  <% if @theater.feedbacks.exists? %>
    <%= render partial: "feedbacks/feedback", collection: @theater.feedbacks, locals: { commentable: @theater } %>
  <% else %>
    <h1 class="p-6 bg-slate-50 rounded-xl my-6">No feedbacks yet</h1>
  <% end %>

  <%= link_to "Back to theaters", theaters_path, class: "mt-5 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
