<%= form_with(model: [:admin, screen, screening], data: {
               controller: "nested-form field-fill",
               nested_form_wrapper_selector_value: ".nested-form-wrapper",
             }, class: "contents") do |f| %>
  <% if screening.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(screening.errors.count, "error") %>  prohibited this screening from being saved:</h2>

      <ul>
        <% screening.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= f.label :show_id, "Pick a Show" %>
    <%= f.collection_select :show_id, @available_shows || [], :id, :name, {}, data: { controller: 'slim-select', field_fill_target: "showSelect" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex my-5 gap-x-10">
    <div>
      <%= f.label :language, "Choose language" %>
      <%= f.select :language, [], {}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-32", data: { field_fill_target: "languageSelect" } %>
    </div>

    <div>
      <%= f.label :price, "Ticket Price in Rupees (₹)" %>
      <%= f.number_field :price, placeholder: "Price (₹)", class: "remove-arrow block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-48" %>
    </div>
  </div>

  <div class="flex my-5 gap-x-10">
    <div>
      <%= f.label :start_date, "Starting date" %>
      <%= f.date_field :start_date, min: Date.current, max: 3.months.from_now, class: "datepicker block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
    </div>

    <div>
      <%= f.label :end_date, "Ending date" %>
      <%= f.date_field :end_date, min: Date.current, max: 3.months.from_now, class: "datepicker block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
    </div>
  </div>

  <template data-nested-form-target = "template">
    <%= f.fields_for :show_times, ShowTime.new, child_index: "NEW_RECORD" do |show_time_fields| %>
      <%= render "admin/screenings/show_time_form", f: show_time_fields %>
    <% end %>
  </template>

  <p class="mt-5 text-xl">Set daily times for show (time is in 24 hours format)</p>

  <%= f.fields_for :show_times do |show_time_fields| %>
    <%= render "admin/screenings/show_time_form", f: show_time_fields %>
  <% end %>

  <div data-nested-form-target="target" class="my-5">
    <button type="button" data-action="nested-form#add">Add new time</button>
  </div>

  <div class="inline">
    <%= f.submit data: { turbo_submits_with: "Creating..." }, class: "btn-blue" %>
  </div>
<% end %>