<div id="<%= dom_id screening %>">
  <section class="flex justify-start gap-x-24 mb-20">
    
      <p class="my-5">
        <%= image_tag screening.show.poster.variant(:display), class: "rounded-lg" %>
      </p>
    
    <div class="text-2xl">
      <p class="my-5 text-3xl mb-12 font-semibold"><%= screening.show.name %></p>
      <p class="my-5">
        <strong class="block font-medium mb-1">Price: ₹ <%= screening.price %></strong>  
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Screening Start Date: <%= format_date(screening.start_date) %></strong>     
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Screening End date: <%= format_date(screening.end_date) %></strong>     
      </p>

      <p>
        <strong>All Show Times</strong>
        <ul>
          <% @show_timings.each do |t| %>
            <li>
              <p><%= format_datetime(t.at_timeof) %></p>
              <p>Seats available: <%= t.seats %></p>
              <hr class="my-2">
            </li>
          <% end %>
        </ul>
      </p>
    </div>
  </section>
</div>