<div id="<%= dom_id screening %>">
  <section class="flex justify-start gap-x-24 mb-10">

    <p class="my-5">
      <%= display_show_poster(screening.show) %>
    </p>

    <div class="text-2xl flex gap-x-28">
      <div>
        <p class="my-5 text-3xl mb-12 font-semibold"><%= screening.show.name %> - <%= screening.language.humanize %></p>
        <p class="my-5">
          <strong class="block font-medium mb-1">Price: ₹ <%= screening.price %></strong>
        </p>

        <p class="my-5">
          <strong class="block font-medium mb-1">Screening Start Date: <%= format_date(screening.start_date) %></strong>
        </p>

        <p class="my-5">
          <strong class="block font-medium mb-1">Screening End date: <%= format_date(screening.end_date) %></strong>
        </p>
      </div>
      <div>
        <strong>All Show Times</strong>
        <ul>
          <% @show_timings.each do |t| %>
            <li>
              <p class="mt-2"><%= format_datetime(t.at_timeof) %></p>
              <p>Seats available: <%= t.seats %></p>
              <hr class="my-2">
            </li>
          <% end %>
        </ul>
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </section>
</div>