<header class="container mx-auto flex w-full items-center justify-between px-5 py-5 sm:px-6 lg:px-8 border-b">
  <div class="flex items-center">
    <%= link_to "BookMyShow", root_path, class: "text-3xl font-bold tracking-tight" %>

    <%= form_tag search_path, method: :get, data: { controller: "search-form" }, class: "contents" do |f| %>
      <%= search_field_tag :query, params[:query], placeholder: "Search for Shows, Movies and Theaters", autocomplete: "off", class: "search-bar rounded-md w-96 ml-7 pl-8", data: { action: "input->search-form#search", search_form_target: "searchBar" } %>
    <% end %>

    <ul class="ml-7 hidden gap-x-6 lg:flex text-xl">
      <%= link_to "Theaters", theaters_path, class: "hover:underline underline-offset-4 #{current_page?(theaters_path) ? 'underline' : ''}" %>
      <%= link_to "Shows", shows_path, class: "hover:underline underline-offset-4 #{current_page?(shows_path) ? 'underline' : ''}" %>
    </ul>

  </div>

  <div class="flex items-center gap-x-5">
    <% if current_user&.admin? %>
      <%= link_to "Go to Theater portal", admin_root_path, class: "rounded-lg py-3 px-5 bg-orange-300 text-black font-medium" %>
    <% end %>

    <% if user_signed_in? %>
      <% if !current_user&.admin? %>
        <div>
          <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-trigger="hover" data-dropdown-placement="bottom">
            <span class="sr-only">Open user menu</span>
            <%= user_poster(current_user, "rounded-full hover:scale-105 transform transition", 40) %>
          </button>
          <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
            <div class="px-4 py-3">
              <span class="block text-sm text-gray-900 dark:text-white"><%= current_user.name %></span>
              <span class="block text-sm text-gray-500 truncate dark:text-gray-400"><%= current_user.email %></span>
            </div>
            <ul class="py-2" aria-labelledby="user-menu-button">
              <li>
                <%= link_to "Profile", profile_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
              </li>
            </ul>
            <div class="py-2">
              <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn-green" %>
    <% end %>
  </div>
</header>
